<header>
    <nav class="top-nav teal darken-1">
        <div class="nav-wrapper">
            <a routerLink="/home" class="brand-logo">La Plateforme Préféré Des Freelances</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/project" class="waves-effect waves-light btn-small orange darken-1">Un Projet ?</a></li>
                <li><a routerLink="/forms" routerLinkActive="active" class="waves-effect waves-light btn-small work">Je veux travailler</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile">
        <li><a routerLink="/project" class="waves-effect waves-light btn-small orange darken-1">Un Projet ?</a></li>
        <li><a routerLink="/forms">Je veux travailler</a></li>
    </ul>
</header>
