<ul class="sidenav" id="menubar">
    <li><h5>Domaines</h5></li>
    <li><div class="divider"></div></li>

    <li><a class='dropdown-trigger' data-target='info'><i class="material-icons">code</i>Informatique</a></li>
    <!-- <ul id='info' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul> -->
    
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
