<div class="project pl-3">
    <app-sidebar-menu></app-sidebar-menu>
  <form class="form-inline">
    <div class="input-group pt-3">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" aria-describedby="search">
        <div class="input-group-append">
          <button class="btn btn-orange" type="submit" routerLink="/project"><i class="fas fa-search"></i></button>
        </div>   
    </div>
  </form>
  <hr/>
  <div class="card mb-3">
      <div class="card-body row">
        <div class="col-sm-2">
          <img src="../../assets/image/bg-home.jpeg" class="card-img" alt="image of the project">
        </div>
        <div class="col-sm-8">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-orange vertical-center" routerLink="/project-details">Voir le détail</button>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body row">
        <div class="col-sm-2">
          <img src="../../assets/image/bg-home.jpeg" class="card-img" alt="image of the project">
        </div>
        <div class="col-sm-8">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-orange vertical-center" routerLink="/project-details">Voir le détail</button>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body row">
        <div class="col-sm-2">
          <img src="../../assets/image/bg-home.jpeg" class="card-img" alt="image of the project">
        </div>
        <div class="col-sm-8">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-orange vertical-center" routerLink="/project-details">Voir le détail</button>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body row">
        <div class="col-sm-2">
          <img src="../../assets/image/bg-home.jpeg" class="card-img" alt="image of the project">
        </div>
        <div class="col-sm-8">
          <h5 class="card-title text-center">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-orange vertical-center" routerLink="/project-details">Voir le détail</button>
        </div>
      </div>
    </div>
</div>
