@import url('https://fonts.googleapis.com/css?family=Crete+Round');

/* global style */
body{
    background-color: #eeeeee;
    font-family: 'Crete Round', serif;
}

/* colors */
.text-w {
    color: #eeeeee !important;
}

/* boutton customize */
.btn-orange {
    background-color: #FB8C01;
    color: #eeeeee;
}

.btn-orange:hover {
    background-color: #eeeeee;
    color: #FB8C01;
}
