<app-header></app-header>
<header class="bg-home">
    <div class="d-flex justify-content-center pt-4 text-w">
        <h1>Bienvenue sur Profiler</h1>
    </div>
    <div>
        <form class="d-flex justify-content-center form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Catégorie" aria-label="Catégorie">
            <input class="form-control mr-sm-2" type="search" placeholder="Prix" aria-label="Prix">
            <button class="btn btn-orange my-2 my-sm-0" type="submit" routerLink="/project"><i class="fas fa-search"></i></button>
        </form>
    </div>
</header>

